.products {
    .add-to-cart-btn {
      margin-top: 15px;
    }
    .product-bg {
      background: #ECECEC;
      padding: 30px;
    }
    .product-card {
       width: 300px;
    }
    .product-img {
      height: 150px;
    }
}