.custom {
    .editor-header {
        height: 50px;
        width: 98%;
        border: 1px solid rgb(229, 229, 229);
        margin: 10px;
        padding: 10px;
        display: flex;
        .item {
         cursor: pointer;
        }
    }
    .editor-contain {
        height: 100px;
        width: 98%;
        border: 1px solid rgb(229, 229, 229);
        margin: 10px;
        padding: 10px;
        overflow: auto;
    }

    .sl-table {
         .table {
        font-family: arial, sans-serif;
        border-color: grey;
        border-collapse: collapse;
        width: 100%;
        }

        .td .th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        .tr:nth-child(even) {
        background-color: #dddddd;
        }
    }
}
